http {
    upstream backend {
        %{ for ip in backend_nodes ~}
        server ${ip}:5000;
        %{ endfor ~}
    }

    server {
        location / {
            proxy_pass http://backend;
        }
    }
}